@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
/*Cuerpo*/

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e4f0ed;
    font-family: 'Nunito';
  }
  
.contenedor {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
  }

/*Header*/



header{
    width: 100%;
    height: 50px;;
    font-family: 'Nunito';
}

.header{
    width: 100%;
    height: auto;
    padding:0.5%;
    position: fixed;
    background-color: #e4f0ed;
    border-bottom: black 1px solid;
}

@media (max-width:530px){
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header .Inicio{
    width: 100%;
}

.header .iconos{
    width:100%;
    text-align: center;
}

}


/*Menu*/

nav ul {
    margin: 0;
    padding: 0;
    list-style: none; 
  }
  
nav li {
    display: inline-block;
    margin: 0 10px;
  }

header a{
    color: black;
    text-decoration: none;
}

/*Emoticonos*/

header img{
    height: auto;
}

.Inicio{
    width: 50%;
    float: left;
    margin-top: 0.5%;
    margin-bottom: 1%;
    height: auto;
    
}

.Inicio #Inicio{
   border-bottom: 2px solid #405f83; 
}
  
.Inicio #contactanos{
    border-bottom: 2px solid #405f83; 
 }
   .iconos{
    float: right;
    width: 50%;
    text-align: right;
    height: auto;
   }

   nav button{
        padding: 10%;
        color: white;
        background-color: green;
        border-radius:5px;
        border: none;
   }
   nav button:hover{
    background-color: rgb(74, 212, 74);
}
 
   /*Pag1/////////////////////////////////////////////////////////////////////////////////*/

/*Div*/

.section1{
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 0;
    display: flex;
    
  }

.section1 img{
    width: 100%;
    transition: transform 0.5s;
}
  .section1 .img:active {
        position: fixed; /* Posicionamos la imagen en la pantalla completa */
        top: 0;
        left: 0;
        width: 100%; /* Ocupamos el 100% del ancho de la pantalla */
        height: 100vh; /* Ocupamos el 100% del alto de la pantalla */
        z-index: 1; /* Ponemos la imagen encima de otros elementos */
        transform: translate(0, 0); /* Centramos la imagen en la pantalla */
      }
/*WhasApp*/
.mensaje{
    text-align: center;
}

.mensaje button{
    padding: 15px;
    margin: 1%;
    color: white;
    background-color: green;
    border-radius:5px;
    border: none;
}

.mensaje button:hover{
    background-color: rgb(74, 212, 74);
}
/*Div2*/

.section2{
    background-color:  #dcf2f8;
    height: auto;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.section2 img{
    width: 20%;
    border-radius: 5%;
    margin-top: 2%;
}*/

.section2{
    width: 100%;
}

.section2 img{
    width:80%;
    border-radius: 5px;
    transition: transform 0.5s;
}

@media (min-width:700px){

    .section2 .imagen{
        width: 30%;
        border-radius: 5px;
        transition: transform 0.5s;
    }
  .section2 .imagen:active {
        position: fixed; /* Posicionamos la imagen en la pantalla completa */
        width: 80%; /* Ocupamos el 100% del ancho de la pantalla */
        height: 100vh; /* Ocupamos el 100% del alto de la pantalla */
        z-index: 1; /* Ponemos la imagen encima de otros elementos */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
}

.section2 h2{
    margin: 0;
    color: #2c344c;
}

.section2 .section2div{
    width: 80%;
    height: auto;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}


/*Div3*/

.section3{
    background-color:#e4f0ed;
    width: 100%;
    height: 650px;
}

.fotos3{
    width: 50%;
    float: left;
}

.fotos3 article{
    width: 46%;
    height: auto;
    float: right;
    margin: 2%;
    text-align: center;
}

.fotos3 article img{
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.texto3{
    width: 50%;
    text-align: center;
    float: right;
    font-size: 20px
}

 h1{
    color:#157372;
    text-align: center;
}

.section3 span{
    color:#157372;
}

.mensaje-section3 button{
    padding: 3%;
    margin: 2%;
    color: white;
    background-color: green;
    border-radius:5px;
    border: none;
    font-size: 20px;
}

.mensaje-section3 button:hover{
    background-color: rgb(74, 212, 74);
}

@media (max-width:1100px){
    .fotos, article{
        display: flex;
        flex-direction: column;
    }
    .fotos3, .texto3{
        width: 100%;
    }

    .fotos3, article{
        margin: 0 auto;
        width: 100%;
    }
    
    .niveles{
        display: none;
    }
}
/*Niveles*/
div .eficacia{
    background-image: linear-gradient(to right, orange 97%, white 30%);
    width: 90%;
    height: 3vh;
    margin: 5%;
    border-radius: 5px;
}

div .productividad{
    background-image: linear-gradient(to right, orange 96%, white 30%);
    width: 90%;
    height: 3vh;
    margin: 5%;
    border-radius: 5px;
}

div .disponibilidad{
    background-image: linear-gradient(to right, orange 98%, white 30%);
    width: 90%;
    height: 3vh;
    margin: 5%;
    border-radius: 5px;
}

/*Div4*/

.section4{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction:column;
    
}

.section4 h1{
    margin: 0;
    color: #157372;
    text-align: center;
    font-size: 30px;
    padding-top: 1%;
}

.section4 ul{
    padding-bottom: 1%;
    list-style: none;
}

/*Div5*/
  
.section5{
    width: 100%;
    height: auto;
    background-color: #e4f0ed;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.section5 img{
    width: 20%;
    height: auto;
    border-radius: 5%;
}

.section5 h1{
    margin: 0;
    padding-top: 3%;
    color: #157372;
}

.foto3{
    padding-bottom: 3%;
}

.video1 video{
    height: 80vh;
}

@media (max-width:600px){
    .section5 div{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .section5 div img, .video{
        width:70% ;
        margin: 1%;
    }

}


/* pag2///////////////////////////////////////////////////////////////////////////////////*
   /*Div1*/

  
.div1{
    width: 100%;
    height: auto;
    background-color: #22a6a4;
    padding: 0;
    display: flex;
}

.texto{
    height: auto;
    width: 50%;
    text-align:left;
    color: white;
    float: left;
    padding: 5%;
}

.foto{
    width: 45%;
    height: auto;
    float: right; 
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

.foto img{
    width: 50%;
    border-radius: 50%;
    margin-top: 5%;
   
}

@media (max-width:900px){
  .div1{
    display: flex;
    flex-direction: column-reverse;
  }

  .texto, .foto{
    width: 100%;
    margin: 1%;
  }

  .foto{
    width: 100%;
    margin-top: 5%;
  }
}

.div2{
width: 100%;
height: auto;
text-align: center;
display: flex;
}

.formulario{
width: 50%;
height: auto;
float: left;
margin-top: 2%;
margin-bottom: 2%;
}

input[type="text"]:hover{
background-color:#9aa6b4 ;
}

input[type="text"]{
height: 30px;
width: 47%;

}


input[type="tel"]:hover{
    background-color:#9aa6b4 ;
    }
    
    input[type="tel"]{
    height: 30px;
    width: 47%;
    
    }
  
    input[type="email"]:hover{
        background-color:#9aa6b4 ;
        }
        
        input[type="email"]{
        height: 30px;
        width: 47%;
        
        }
    
textarea:hover{
background-color:#9aa6b4 ;
}

textarea{
    width: 47%;
}


input[type="submit"]{
height: 30px;
width: 47%;
background-color: #405f83;
color: white;
}

.contacto{
width: 50%;
height: auto;
float: right;
text-align: left;
}

.contacto1{
width: 100%;
height: auto;
float: left;
text-align: left;
margin-top: 5%;
}

.contacto2{
width: 100%;
height: auto;
float: left;
text-align: left;
}

@media (max-width:900px){
    .div2{
        display: flex;
        flex-direction: column;
    }
    .formulario{
        width: 100%;
        height: auto;
        float: left;
        margin-top: 2%;
        margin-bottom: 2%;
        }

        .contacto{
            width: 100%;
            height: auto;
            text-align: left;
            }

       .formulario input{
        height: 30px;
        width: 70%;
        background-color: #405f83;
        color: white;

}

    .formulario textarea{
        width: 70%;
    }
}

/*footer////////////////////////////////////////////////////////////////////////////////////////////*/
footer{
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    position: absolute;
    text-align: center;
}

footer ul {
    margin: 0;
    padding-top: 1%;
    list-style: none; 
  }
  
footer li {
    display: inline-block;
    margin: 0 10px;
  }

  footer p{
    margin-bottom: 1%;
  }

  footer a {
    color: #e4f0ed;
    text-decoration: none;
  }

  footer #Inicio{
    border-bottom: solid #5880B8 1px;
    color: #5880B8;
  }